<link rel="stylesheet" href="/stylesheets/fixedbar.css">

<div class="m-fixedbar">
    <ul class="fixed-nav">
        <li>
            <a href="" class="fa fa-phone m-iconss"></a>
            <p class="m-info">联系客服</p>
            <div class="fixed-pop">
                <div class="pop-inner inner1">
                    <p class="info-title">小米有品平台问题，建议反馈，商户和物流问题投诉等请拨打 小米有品客服热线</p>
                    <p class="info-phone">400-100-1199</p>
                    <p class="info-day">(周一至周日 8：00-18：00)</p>
                    <p class="info-des">小米/米家自营品牌，手机电视智能硬件商品或订单发货/退款售后问题 请拨打小米自营客服热线</p>
                    <p class="info-phone">400-100-5678</p>
                    <p class="info-day">(周一至周日 8：00-18：00)</p>
                </div>
            </div>
        </li>
        <li>
            <a href="" class="fa fa-camera m-iconss"></a>
            <p class="m-info">下载 APP</p>
            <div class="fixed-pop">
                <div class="pop-inner inner2">
                    <img class="qr-code" src="https://shop.io.mi-img.com/static/h5/static3/media/code.90b4b51a.png" alt="qr-code">
                    <p class="site-info">下载小米有品APP
                        <br>
                        得新人礼包
                    </p>
                </div>
            </div>
        </li>
        <li>
            <a href="" class="fa fa-gift m-iconss"></a>
            <p class="m-info">新人有礼</p>
            <div class="fixed-pop">
                <div class="pop-inner inner3">
                    <div class="gift-bg"></div>
                    <img class="qr-code" src="https://shop.io.mi-img.com/static/h5/static3/media/code.90b4b51a.png" alt="qr-code">
                    <p class="site-info">立即扫码下载·小米有品 APP</p>
                </div>
            </div>
        </li>
        <li>
            <a href="" class="fa fa-wechat m-iconss"></a>
            <p class="m-info">关注微信</p>
            <div class="fixed-pop">
                <div class="pop-inner inner4">
                    <img class="qr-code" src="https://shop.io.mi-img.com/static/h5/static3/media/wx_code.d0d26888.jpg" alt="qr-code">
                    <p class="site-info">扫码关注【小米有品生活电商】微信服务号，赢取小爱mini活动哦</p>
                </div>
            </div>
        </li>
        <li id="return-top">
            <span class="fa fa-rocket m-iconss"></span>
            <p class="m-info">回到顶部</p>
        </li>
    </ul>
</div>

<script src="/javascripts/fixedbar/fixedbar.js"></script>