<link rel="stylesheet" href="/stylesheets/nav.css">
<script src="/javascripts/nav/showUser.js"></script>


<div class="nav clear">
    <div class="nav-container">
        <div class="nav-fr fr">
            <div class="fl m-user-con">
                <a href="/user/login" class="m-safe-anchor">登录</a>
                <a href="/user/register" class="m-safe-anchor">注册</a>
            </div>
            <div class="fl m-login">
                <div class="m-login-info">  
                    <a href="" class="m-safe-anchor">
                        <span class="fa fa-user-circle m-icon"></span>
                        <span class="m-username ml"></span>
                        <span class="fa fa-chevron-down m-icons"></span>
                    </a>
                </div>
                <div class="login-item-nav">
                    <ul class="login-nav">
                        <li class="order"><a href="">我的订单</a></li>
                        <li><a href="https://app.youpin.mi.com/r/afterServiceList">退款/售后</a></li>
                        <li class="order"><a href="">我的资产</a></li>
                        <li class="order"><a href="">我的收藏</a></li>
                        <li class="order"><a href="">地址管理</a></li>
                        <li><a href="" id="leave">退出登录</a></li>
                    </ul>
                </div>
            </div>
            <span class="fl m-line">|</span>
            <div class="fl m-help">
                <a target="_blank" href="https://www.xiaomiyoupin.com/help" class="m-safe-anchor">帮助中心</a>
            </div>
            <span class="fl m-line">|</span>
            <div class="fl m-download">
                <a target="_blank" href="https://www.xiaomiyoupin.com/download" class="m-safe-anchor">
                    <span class="fa fa-mobile m-icon"></span>
                    <span class="ml">下载APP</span>    
                </a>
            </div>
            <span class="fl m-line">|</span>
            <div class="fl m-clauses-con">
                <div class="m-clauses">
                    <span class="m-safe-anchor">资质证照&nbsp;/&nbsp;协议规则</span>
                    <span class="fa fa-chevron-down m-icons"></span>
                </div>
                <div class="site-item-nav">
                    <ul class="site-nav">
                        <li><a target="_blank" href="https://youpin.mi.com/app/shop/content?id=sb0b29039bf5892b5">资质证照</a></li>
                        <li><a target="_blank" href="https://youpin.mi.com/app/shop/content?id=t58169039fac3a096">协议规则</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="/javascripts/nav/nav.js"></script>
<script src="/javascripts/ajax/leave.js"></script>