<link rel="stylesheet" href="/stylesheets/nav1.css">

<div class="box">
    <div class="banner_top">
        <div class="logo"> 
            <img src="/images/logo.png" alt="">
        </div>
        <div class="nav-part">
           
        </div>
        <div class="nxianshi"><span>限时抢购</span></div>
        <div class="search1">
            <img src="/images/heisearch.png" alt="">
            <!-- <img src="img/huangsearch.png" alt=""> -->
            <input type="text" placeholder="搜一搜">
        </div>
        <div class="car1">
            <!-- <div class="jiaobiao"><span class="jiaobiaoshu">4</span></div> -->
            <img src="/images/heiche.png" alt="">
            <!-- <img src="img/huangche.png" alt=""> -->
        </div>
    </div>
</div>

<!-- 设置导航栏上的分类 -->
<div class="box-hidden">
    <div class="box1">
        <div class="banner_top">
            <div class="logo"> 
                <img src="/images/logo.png" alt="">
            </div>
            <div class="nav-part">
                <div class="nav-arrow-container">
                    <span>分类</span>
                    <span class="fa fa-chevron-down"></span>
                    <div class="nliebiao">
                        <ul>
                            
                        </ul>
                    </div>  
                </div>
            </div>
            <div class="nxianshi"><span>限时抢购</span></div>
            <div class="search1">
                <img src="/images/heisearch.png" alt="">
                <!-- <img src="img/huangsearch.png" alt=""> -->
                <input type="text" placeholder="搜一搜">
            </div>
            <div class="car1">
                <!-- <div class="jiaobiao"><span class="jiaobiaoshu">4</span></div> -->
                <img src="/images/heiche.png" alt="">
                <!-- <img src="img/huangche.png" alt=""> -->
            </div>
        </div>
    </div>
</div>

<script src="/javascripts/nav/nav1.js"></script>