<% include base/head.ejs %>
<% include base/nav.ejs %>
<link rel="stylesheet" href="/name/wyy/css/font-awesome.css">
<style>
        *{
            padding:0px;
            margin:0px;
        }
        body{
            background:#f5f5f5;
            height:600px;
        }
        .Box{
            height:550px;
            width:800px;
            background:#fff;
            margin:0 auto;
        }
        .content{
            height:500px;
            width:400px;
            margin:0px auto;
        }
        .logo{
            width:48px;
            height:48px;
            background:#ff6700;
            margin:0 auto;
        }
        .logo img{
            margin:8px 0 0 9px;
        }
        .tit{
            width:100%;
            height: 10px;
            margin-top:40px;
        }
       .tit p{
            text-align: center;
            font-size: 30px;
            color:#333;
        }
        .ipt{
            width:100%;
            height:200px;
            margin-top:70px;
            text-align: center;
            font-size:14px;
        }
        .ipt button:first-of-type{
            width:325px;
            height:42px;
            padding:0px 0px 0px 14px;
            margin-bottom: 13px;
            border:1px solid #E0E0E0;
            border-right:none;
            font-size: 14px;
            background:#fff;
            text-align:left;
            outline: none;
            color:#555;
        } 
        .ipt .icon{
            margin-left:236px;
            width:42px;
            height:42px;
            margin-top:-1px;
            border:1px solid #E0E0E0;
            position:absolute;
            left:517px;
            top:194px;
            outline: none;
        }
        .ipt p{
            text-align: left;
            color:#333;
            margin-left:38px;
            margin-top:-5px;
        }
        .icon div{
            width:16px;
            height:16px;
            border-radius:50px;
            border:1px solid #E0E0E0;
            margin:0 auto;
            margin-top:11px;
        }
        #angle{
            color:#E0E0E0;
            position: relative;
            top:-3px;
            font-size: 12px;
        }
        .ipt select{
            width:73px;
            height:42px;
            border:1px solid #E0E0E0;
            border-right:none;
            color:#757575;
            padding-left:10px;
            font-size:15px;
            outline: none;
            resize:none;
        }
        #tel{
            margin-top:-15px;
            margin-bottom:10px;
        }
        .ipt #ip{
            width:255px;
            height:42px;
            border:1px solid #E0E0E0;
            outline: none;
            padding-left:10px;
        }
        #icon-p{
            color:#757575;
        }
        .ipt #btn{
            width:330px;
            height:42px;
            background:#FF6700;
            outline: none;
            border:none;
            margin-top:30px;
            color:#FFFFFF;
            font-size:14px;
            text-align: center;
        }
        #rule{
            width:270px;
            color:#333;
            font-size:14px;
            margin:0 auto;
            margin-top:-20px;
        }
        .desc{
            width:100%;
            height:20px;
            display:flex;
        }
        .desc p{
            flex:1;
            color:#ff6700;
            font-size:14px;
            padding-left:20px;
        }
        .desc span{
            flex:2;
            color:#757575;
            font-size:14px;
        }
        .desc span:nth-child(2){
            color: #E8E8E8 !important;
        }
        .desc span:nth-child(1){
            margin-left:105px;
        }
        .other{
            padding: 0px 20px;
            color:#b0b0b0;
            font-size: 14px;
            margin-top:30px;
        }
        .other div{
            float: left;
            width:137px;
            height:10px;
            border-bottom:1px solid #E0E0E0;
        }
        .other div:nth-child(2){
            border:none;
            width:auto;
        }
        .otherImg{
            width:100%;
            height:30px;
            margin-top:65px;
            text-align: center;
        }
        .otherImg img{
            width:30px;
            height:30px;
            margin-right:20px;
        }
        .otherImg img:last-of-type{
            margin-right:0px;
        }
        .explain{
            width:320px;
            height:20px;
            color:#757575;
            font-size:14px;
            margin:0 auto;
            margin-top:10px;
        }
        .explain span:first-of-type{
            color:#333;
        }
        .address{
            width:580px;
            height:20px;
            margin:10px auto;
            color:#757575;
            font-size:14px;
        }
        .error,.err{
            color:#ff6666;
            font-size:14px;
            text-align:left;
            margin-top:15px;
            margin-bottom:0px;
            display:none;
        }
        .error img{
            width:14px;
            margin-right:5px;
            margin-top:-2px;
            margin-left:35px;
            
        }
        .err img{
            width:14px;
            margin-right:5px;
            margin-top:-2px;
            margin-left:35px;
        }
        #btn:hover{
            background:#FF936A;
        }
        #pass{
            width:328px;
            height:42px;
            border:1px solid #E0E0E0;
            outline: none;
            padding-left:10px;
            margin-top:15px;
        }
        #ip::-webkit-outer-spin-button,
        #ip::-webkit-inner-spin-button {
            -webkit-appearance: none;
            appearance: none; 
            margin: 0; 
        }
        #pass{
            margin-top:30px;
        }
</style>
<div class="Box">
        <div class="content">
            <div class="logo">
                <img width="65%" src="/name/wyy/images/logo.png">
            </div>
            <div class="tit">
                <p>注册小米帐号</p>
            </div>
            <div class="ipt">
                <p id="tel">手机号码</p>
                <form>
                    <select disabled="disabled">
                        <option>+86</option>
                    </select><input id="ip" type="number" name="username" placeholder="请输入手机号码" ><br>
                    <div class="error">
                        <img src="/name/wyy/images/cuowu.png"><span>手机号码格式错误</span>
                    </div>
                    <input type="password" name="password" id="pass" placeholder="密码">
                    <div class="err">
                        <img src="/name/wyy/images/cuowu.png"><span>请输入密码</span>
                    </div>
                    <button id="btn"  type="submit">立即注册</button>
                </form>
            </div>
        </div>
        <p id="rule">已阅读并同意：小米 <strong>用户协议 </strong>和 <strong>隐私政策</strong></p>
    </div>
    <div class="explain">
        <p><span>简体</span>
           <span>&nbsp; | &nbsp;繁体&nbsp; | &nbsp;</span>
           <span> English&nbsp; | &nbsp;</span>
           <span>常见问题&nbsp; | &nbsp;</span>
           <span>隐私政策</span>
        </p>
    </div>
    <div class="address">
      <p>小米公司版权所有-京ICP备10046444-<img src="https://account.xiaomi.com/static/res/9204d06/account-static/respassport/acc-2014/img/ghs.png">京公网安备11010802020134号-京ICP证110507号</p>
    </div>
    <script src="/javascripts/ajax/register.js"></script>
    <script>
      $("#type").attr("disabled",true)
      
      var ip=document.getElementById('ip')
      var error=document.getElementsByClassName('error')
      ip.onfocus=function(){
        var error=document.getElementsByClassName('error')[0]
          ip.style.border='1px solid #FF6666'
          error.style.display='none'
      }
      ip.onblur=function(){
          var error=document.getElementsByClassName('error')[0]
          ip.style.border='1px solid #E0E0E0'
          if(ip.value==''){
              error.style.display='block'
          }
      }
        var btn = document.querySelector('#btn')
        var regexg = new RegExp('/^[0-9]{11}$/')
        ip.onchange=function(){
            console.log(regexg.test((ip.value-0)))
            if(!(ip.value.length==11)){ 
                $('.error').show()
                rule.style.marginTop='10px'
            }else{
                    $('.error').hide()
            }
        }
        pass.onfocus=function(){
           var err=document.getElementsByClassName('err')[0]
            pass.style.border='1px solid #FF6666'
            err.style.display='none'
        }
        pass.onblur=function(){
           var err=document.getElementsByClassName('err')[0]
           pass.style.border='1px solid #E0E0E0'
           if((pass.value=='')){
                err.style.display='block'
            } 
        }
    
        pass.onchange=function(){
            if(pass.value==''){ 
                $('.err').show()
                rule.style.marginTop='10px'
            }else{
                    $('.err').hide()
            }
}
    btn.onclick=function(){
        if((ip.value=='') || (pass.value=='')){
            if(ip.value==''){
               var error=document.getElementsByClassName('error')[0]
               error.style.display='block' 
            }else{
               var err=document.getElementsByClassName('err')[0]
                err.style.display='block'
            }       
        }else{
            // location.href='/user/login'
            // console.log('ok')    
        }
    }
    </script>
<% include base/foot.ejs %>