*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}
.shopping-cart{
    width: 100%;
    background-color: #fff;
}
.shopping-cart-container{
    width: 1080px;
    margin: 0 auto;
}

.m-secondary-navigator{
    padding: 30px 0;
    width: 100%;
    font-size: 13px;
    color: #333;
}
.shouye>a{
    margin-right: 6px;
    cursor: pointer;
    color: #333;
    text-decoration: none;
    font-size: 13px;
}
.gouwuche>a{
    margin:0 6px;
    cursor: pointer;
    color: #999;
    text-decoration: none;
    font-size: 13px;
}
.m-secondary-navigator a:hover{
    color:#845F3F;
}


.no-good-container{
    padding-top: 100px;
    padding-bottom: 200px;
}
.m-no-cart{
    text-align: center;
}
.e-img{
    width: 153px;
    height: 132px;
    margin: 0 auto;
    background-image: url(https://shop.io.mi-img.com/static/h5/static3/media/no-cart.c8984abd.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.e-info{
    margin-top: 24px;
    color: #333;
    text-align: center;
}
.btn-wrap{
    text-align: center;
    margin-top: 21px;
}
.btn-wrap>a{
    display: inline-block;
    width: 83px;
    text-align: center;
    height: 41px;
    line-height: 41px;
    font-size: 18px;
    color: #666;
    border: 1px solid #666;
}
.btn-wrap>a:hover{
    background-color: #845F3F;
    color: #fff;
}


.has-good-container{
    width: 100%;
}
#good-title{
    width: 1080px;
    height: 42px;
    margin-bottom: 3px;
    line-height: 40px;
    background-color: #fafafa;
    color: #999;
    font-size: 14px;
}
#good-title>input{
    width: 18px;
    height: 18px;
    position: relative;
    margin-left: 7px;
    margin-right: 20px;
    top: 4px;
}
.title>span{
    display: inline-block;
    height: 40px;
    vertical-align: middle;
    line-height: 40px;
}
.all-txt{
    width: 130px; 
}
.product{
    width: 320px;
}
.price{
    width: 200px;
}
.num{
    width: 200px;
}
.total{
    width: 129px;
}
.edit{
    width: 28px;
}
#merchantList{
    width: 1080px;
    margin-bottom: 100px;
    font-size: 14px;
    color: #333;
}
.merchant-info{
    width: 100%;
    height: 19px;
    padding: 47px 0 17px;
    border-bottom: 1px solid #e7e7e7;
    position: relative;
}
.merchant-info>input{
    width: 18px;
    height: 18px;
    position: relative;
    margin-left: 7px;
    margin-right: 20px;
    top:-3px;
}
.merchant-info>span{
    display: inline-block;
    position: relative;
    top: -7px;
}
.name{
    height: 19px;
    cursor: pointer;
    color: #333;
}
.postmarginright{
    position: absolute;
    top: 47px;
    right: 0;
    color: #999;
}
.layer-show{
    cursor: pointer;
}
.postimg{
    display: inline-block;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 15px;
    border: 1px solid #999;
    margin-right: 5px;
    color: #999;
}
.cart-join{
    margin-left: 15px;
    color: #c00000;
    cursor: pointer;
}
.layer-hide{
    display: none;
    position: absolute;
    cursor: default;
    border: 1px solid #e7e7e7;
    -webkit-box-shadow: 0 0 24px rgba(0,0,0,.1);
    box-shadow: 0 0 24px rgba(0,0,0,.1);
    top: 35px;
    right: 0;
    width: 300px;
    padding: 30px 25px;
    background-color: #fff;
    text-align: center;
}
.cart-good-items{
    width: 1080px;
    height: 142px;
    border-bottom: 1px solid #e7e7e7;
}
.cart-good-items>div{
    float: left;
}
.select{
    width: 45px;
    padding: 35px 0;
    height: 72px;
    line-height: 72px;
}
.select>input{
    width: 18px;
    height: 18px;
    margin-left: 7px;
}
.image{
    height: 142px;
    width: 120px;
    cursor: pointer;
}
.image>img{
    width: 100%;
    margin-top: 11px;
}
.gname{
    box-sizing: border-box;
    width: 340px;
    padding: 27px 80px 27px 15px;
    height: 142px;
    line-height: 88px;
    cursor: pointer;
}
.vertical-wrap{
    display: inline-block;
    line-height: 24px;
    vertical-align: middle;
    font-size: 14px;
    color: #333;
}
.gprice{
    width: 200px;
    text-align: left;
    padding: 35px 0;
    height: 72px;
    line-height: 72px;
    font-size: 14px;
    color: #333;
}
.gnum{
    width: 205px;
    padding: 35px 0;
    height: 72px;
    line-height: 72px;
    font-size: 14px;
    color: #333;
}
.can-edit{
    width: 250px;
    height: 72px;
    margin-left: -45px;
    line-height: 72px;
}
.jian,.jia{
    display: inline-block;
    background-color: #fff;
    width: 30px;
    height: 30px;
    border: 1px solid #b3b3b3;;
    text-align: center;
    line-height: 30px;
}
.jian{
    color: #CCCCCC;
}
.jia{
    color: #845F3F;
}
.shuliang{
    display: inline-block;
    background-color: #fff;
    width: 70px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-top: 1px solid #b3b3b3;;
    border-bottom: 1px solid #b3b3b3;;
}
.subtotal{
    width: 130px;
    text-align: left;
    padding: 35px 0;
    height: 72px;
    line-height: 72px;
    font-size: 14px;
    color: #c00000;
}
.del{
    width: 33px;
    text-align: center;
    padding: 35px 0;
    height: 72px;
    line-height: 72px;
    font-size: 14px;
    color: #CCCCCC;
}
.del1{
    width: 33px;
    height: 13px;
}

.cart-total{
    margin-bottom: 100px;
    background-color: #fafafa;
    font-size: 18px;
    width: 1080px;
    height: 80px;
    position: relative;
}
.totalselect{
    padding: 25px 0;
    height: 30px;
    line-height: 30px;
}
.totalselect-icon{
    display: inline-block;
    padding-left: 7px;
    padding-right: 20px;
    padding-top: 6px;
}
.totalselect-checkbox{
    width: 18px;
    height: 18px;
    margin-left: 7px;
}
.already-select{
    margin-left: 20px;
}
.totol-price-con{
    height: 55px;
    padding-top: 25px;
    position: absolute;
    right: 230px;
    bottom: 0;
    font-size: 20px;
    color: #c00000;
}
.zongji{
    color: #333;
}
.checkout{
    position: absolute;
    width: 200px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    background-color: #a9010d;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    top: 0;
    right:-230px;
}
